
@{
    ViewBag.Title = "Index";
}

<h2>Internships</h2>

@Html.ActionLink("Internship Programs", "InternshipPrograms", "Internship")<br />
@Html.ActionLink("Apply Internship", "ApplyInternship", "Internship")
