
@{
    ViewBag.Title = "Index";
}

<h2>Company Zone</h2>
@Html.ActionLink("Job Posting services", "JobPostingServices", "CompanyZone")<br />
@Html.ActionLink("Resume database acess", "ResumeDatabaseAccess", "CompanyZone")<br />
@Html.ActionLink("Employer Login", "EmployerLogin", "CompanyZone")<br />
@Html.ActionLink("Register Employer", "RegisterEmployer", "CompanyZone")


