
@{
    ViewBag.Title = "Upload Resume";
}
<h4>Upload Resume</h4>
@using (Html.BeginForm("UploadResume", "Resume", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td width="100">Select Resume: </td>
            <td width="200"><input type="file" name="file" /></td>
        </tr>
        </table>
        <br />
        <table>
        <tr>
            <td><input type="submit" value="Create" /></td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


